.features {
	margin-top: 70px;
	padding-top: 100px;
	background-color: #f4f4f4;
	@media (max-width: 993px) {
		background-color: #ffffff;
	}
	@media (max-width: 480px) {
		padding-top: 120px;
	}
}

.features-container {
	display: flex;
	@media (max-width: 993px) {
		flex-direction: column;
		// align-items: center;
		text-align: center;
	}
}

.features__title {
	display: none;
	@media (max-width: 993px) {
		display: block !important;
		margin-bottom: 52px !important;
		padding-bottom: 0 !important;
	}
	@media (max-width: 480px) {
		font-size: 32px !important;
		line-height: 38px !important;
	}
}

.info {
	@media (max-width: 993px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	@media (max-width: 480px) {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.info-item {
	display: flex;
	// padding-left: 90px;
	margin-right: 20px;
	@media (max-width: 993px) {
		margin-right: 0;
		text-align: left;
	}
	@media (max-width: 480px) {
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}

.info-item__image {
	height: 100%;
	&--biggerPadding1 {
		padding-left: 1px;
	}
	&--biggerPadding2 {
		padding-left: 16px;
	}
	&--biggerPadding3 {
		padding-left: 11px;
	}
	@media (max-width: 480px) {
		padding-bottom: 24px;
		&--biggerPadding1 {
			padding-left: 0px !important;
		}
		&--biggerPadding2 {
			padding-left: 0px !important;
		}
		&--biggerPadding3 {
			padding-left: 0px !important;
		}
	}
}

.info-item__text {
	display: flex;
	flex-direction: column;
	padding-left: 23px;
	&--morePadding1 {
		padding-left: 44px;
	}
	&--morePadding2 {
		padding-left: 59px;
	}
	&--morePadding3 {
		padding-left: 53px;
	}
	@media (max-width: 993px) {
		max-width: 582px;
	}
	@media (max-width: 480px) {
		&--morePadding1 {
			padding-left: 0px;
		}
		&--morePadding2 {
			padding-left: 0px;
		}
		&--morePadding3 {
			padding-left: 0px;
		}
	}
}
.info-item__title {
	padding-left: 1px;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: $greyColor;
	margin: 0;
	padding-bottom: 16px;
	@media (max-width: 480px) {
		line-height: 16px;
	}
}

.info-item__description {
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	max-width: 400px;
	margin: 0;
	color: $featuresDescColor;
	padding-bottom: 34px;
	&--last {
		padding-bottom: 71px;
	}
}

.preview {
	display: flex;
	flex-direction: column;
	@media (max-width: 993px) {
		align-items: flex-end;
	}
}

.preview__title {
	color: #8d81ac;
	font-family: 'Montserrat';
	font-weight: 700;
	font-size: 48px;
	line-height: 50px;
	margin: 0;
	padding-bottom: 19px;
	@media (max-width: 993px) {
		display: none;
	}
}

.preview__image {
	@media (max-width: 480px) {
		max-width: 317px;
		max-height: 381px;
	}
}
