.head {
    height: 800px;
    position: relative;
    background-image: url("/src/img/header/img 1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #000;
  }
  
  