@import 'normalize';
@import 'variables';
@import 'overview/overview';
@import 'features/features';
@import 'price/price';

.container {
	max-width: 1200px;
	margin: 0 auto;
	@media (max-width: 993px) {
		max-width: 768px;
	}
	@media (max-width: 480px) {
		max-width: 320px;
	}
}
