.price {
	background-image: url(../img/price/pricebackground.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	text-align: center;
}

.price__title {
	font-family: 'Montserrat';
	margin: 0;
	color: #ffffff;
	font-weight: 700;
	font-size: 48px;
	line-height: 50px;
	padding-top: 83px;
}

.price-items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 15px;
	padding-top: 51px;
	@media (max-width: 1000px) {
		flex-wrap: wrap;
		justify-content: center;
	}
}

.price-item {
	background-color: rgba(255, 255, 255, 0.11);
	max-width: 257px;
	min-height: 457px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	color: #ffffff;
	margin-bottom: 73px;
	&--bigger {
		margin-top: 10px;
		background-color: rgb(70, 48, 72, 0.84);
		min-height: 560px;
		max-width: 299px;
		@media (max-width: 1000px) {
			margin-top: 0px;
		}
	}
	&--last {
		@media (max-width: 1000px) {
			margin-right: 42px;
		}
		@media (max-width: 567px) {
			margin-right: 0px;
		}
	}
}

.price-item__title {
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	text-transform: uppercase;
	background-color: rgb(255, 255, 255, 0.06);
	padding: 36px 58px;
	margin: 0;
	margin-bottom: 30px;
	&--bigger {
		background-color: rgb(0, 0, 0, 0.11);
		padding: 43px 96px;
		margin-bottom: 14px;
	}
}

.price-item__symbol {
	font-weight: 400;
	font-size: 60px;
	line-height: 90px;
	&--bigger {
		font-weight: 400;
		font-size: 82px;
		line-height: 90px;
	}
}

.price-item__cost {
	margin: 0;
	font-family: 'Montserrat';
	font-size: 60px;
	font-weight: 700;
	line-height: 90px;
	padding-bottom: 20px;
	&--bigger {
		font-weight: 700;
		font-size: 82px;
		line-height: 90px;
		padding-bottom: 16px;
	}
}

.price-item__month {
	margin: 0;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	text-transform: uppercase;
	// border-bottom: 5px solid #8d81ac;
	padding-bottom: 37px;
	&--bigger {
		padding-bottom: 46px;
	}
}

.price-item__line {
	margin: 0;
	width: 60px;
	height: 5px;
	background-color: #8d81ac;
	border: none;
	margin-bottom: 30px;
	&--bigger {
		margin-bottom: 40px;
	}
}

.price-item__info {
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	margin: 0;
	margin-bottom: 48px;
	&--bigger {
		margin-bottom: 83px;
	}
}

.price-item__btn {
	background-color: rgb(255, 255, 255, 0.15);
	border: none;
	color: #fff;
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 15px;
	line-height: 15px;
	text-transform: uppercase;
	padding: 16px 38px;
	border-radius: 40px;
	margin-bottom: 37px;
	&--bigger {
		padding: 19px 48px;
	}
	&--biggerMargin1 {
		margin-top: 16px;
	}
}
